<template>
  <div id="app">
    <posts_table></posts_table>
  </div>
</template>

<script>
import posts_table from './components/posts/Table.vue'

export default {
  components: {
    posts_table
  }
}
</script>
