<style>
    .table {
        width: 40%;
        border: 1px solid black;
    }
</style>

<template>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th></th>
        </tr>
        <tr v-for="post in posts">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.content }}</td>
            <td>
                <a v-on:click="edit(post)">edit</a>
                <a v-on:click="delete(post.id)">delete</a>
            </td>
        </tr>
    </table>
    <button v-on:click="get">load</button>
    <div>
        <input v-model="post.title">
        <input v-model="post.content">
        <button v-on:click="createOrEdit(post.id)">{{ button_name }}</button>
    </div>
</template>

<script type="text/ecmascript-6">

var Store = require('json-api-store');
var adapter = new Store.AjaxAdapter({ base: 'http://127.0.0.1:8000' })
var store = new Store(adapter)

export default {

  methods: {
    get () {
        var self = this;
        store.observable.source.isStopped = true
        store.findAll('posts').forEach(function (post) {
            store.remove('posts', post.id)
        })
        store.loadAll('posts', {}).subscribe(function (posts) {
            self.$set('posts', posts)
            store.observable.source.isStopped = false
        });

    },
    delete (id) {
        store.destroy('posts', id)
    },
    edit (post) {
        this.button_name = 'Edit'
        this.post = post;
    },
    createOrEdit (id) {
        if(id === undefined) {
            store.create('posts', this.post);
        } else {
            store.update('posts', this.post.id, this.post);
        }
        this.post = {}
        this.button_name = 'Add'
    }
  },


  ready () {
    var self = this;

    // Define the "posts" type.
    store.define([ 'posts', 'post' ], {
      title: Store.attr(),
      content: Store.attr()
    });

    store.observable.subscribe(function (event) {
      console.log(event.name, event.type, event.id, event.resource);
      self.$set('posts', store.findAll('posts'))
    });

    // GET request
    this.get()
  },

  data () {
    return {
        posts: [],
        post: {},
        button_name: 'Add'
    }
  }
}
</script>
